.mainWrapper {
  padding-top: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  color: #29323d;
}

.titleUser {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #101010;
  margin-bottom: 27px;
}

// styles for incoming call component

// .wavesWrapper {
//   position: absolute;
//   width: 100%;
//   bottom: calc(100vw - 111vw);
// }

// .callTitle {
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 15px;
//   color: #ffffff;
//   margin-bottom: 10px;
// }

// .phoneTittle {
//   font-weight: 400;
//   font-size: 24px;
//   line-height: 29px;
//   letter-spacing: 0.05em;
//   color: #ffffff;
// }

// .callWrapper {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   padding: 8px 0 100px 0;
//   margin-bottom: 40px;
//   background-color: #101010;
// }

// .contentRender {
//   display: flex;
//   justify-content: space-between;
// }

// .speechContent {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .wr {
//   border-left: 1px solid #e6e6e6;
//   margin: 0 10px;
// }

// .imageWrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .spacing {
//   padding: 0 16px 20px 16px;
// }

// .subTitle {
//   font-size: 24px;
//   color: #c9d3dd;
//   font-weight: 400;
//   margin-top: 30px;
//   margin-bottom: 40px;

//   &.isActiveCall {
//     color: green;
//   }
// }

// .buttonWrapper {
//   display: flex;

//   div {
//     margin: 0 10px;
//     border-radius: 20px;
//     height: 40px;
//   }
// }

// .buttonVoiceWrapper {
//   display: flex;
//   width: 240px;
//   padding: 0 10px;
//   margin: 0 auto 20px auto;

//   div {
//     background: linear-gradient(0deg, #6fc493 -3.22%, #47bea7 124.46%);
//     border-radius: 20px;
//     height: 50px;
//   }
// }

// .settings {
//   display: flex;
//   flex-direction: column;
//   margin-top: 20px;
// }

// .wrapperSetting {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: flex-start;
//   margin-bottom: 10px;
//   width: 300px;
//   padding-left: 30px;
// }

// .titleToggler {
//   font-size: 20px;
//   font-weight: 700;
//   margin-left: 10px;
//   color: #29323d;
// }

// .phone {
//   position: absolute;
//   width: 40px;
//   height: 40px;
//   top: calc(50% - 20px);
//   left: calc(50% - 20px);
// }

// .colorRoundFirst,
// .colorRoundSecond,
// .colorRoundThird,
// .blackRound {
//   position: absolute;
//   top: 50%;
//   left: 50%;

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   transform: translate(-50%, -50%);
//   border-radius: 100%;
// }

// .wrapper {
//   position: relative;
//   width: 140px;
//   height: 140px;
//   margin-bottom: 17px;
// }

// .colorRoundThird {
//   width: 92px;
//   height: 92px;
//   background: linear-gradient(
//     121.43deg,
//     rgba(136, 38, 255, 0.9) 13.61%,
//     rgba(0, 240, 255, 0.9) 97.94%
//   );

//   animation: ringing infinite 2s linear;
// }

// .colorRoundSecond {
//   width: 120px;
//   height: 120px;

//   background: linear-gradient(
//     121.43deg,
//     rgba(136, 38, 255, 0.4) 13.61%,
//     rgba(0, 240, 255, 0.4) 97.94%
//   );

//   animation: ringing infinite 2s linear;
// }

// .colorRoundFirst {
//   width: 140px;
//   height: 140px;

//   background: linear-gradient(
//     121.43deg,
//     rgba(136, 38, 255, 0.2) 13.61%,
//     rgba(0, 240, 255, 0.2) 97.94%
//   );
//   animation: ringing infinite 2s linear;
// }

// .blackRound {
//   width: 66px;
//   height: 66px;
//   background: #101010;
// }

// @keyframes ringing {
//   0% {
//     transform: translate(-50%, -50%) scale(0.5);
//   }
//   100% {
//     transform: translate(-50%, -50%) scale(1);
//   }
// }
