.result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bc0000;
    width: 100%;
    height: 100%;
    padding-bottom: 48px;

    &.isSuccess {
        background-color: #18830f;
        color: #72bb79;
    }

    &.isEnroll {
        background-color: #ffffff;
        color: #72bb79;
    }
}

.title-page {
    color: #1464f7;
    font-size: 26px;
    font-weight: bold;
}

.status-icon {
    width: 70px;
    height: 51px;
    margin-top: 46px;

    &.isSuccess {
        margin-left: 20px;
    }

    &.isEnroll {
        width: 98px;
        height: 123px;
    }
}

.status-text {
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 7px;

    &.isEnroll {
        font-size: 24px;
        color: #101010;
    }
}

.generated-ageGender-text {
    padding: 25px 34px ;
}
.generated-face-text {
    font-weight: 700;
    font-size: 20px;
    color: #101010;
    padding: 26px 0 0 35px;
}

.content-text-wrapper {
    display: flex;
    gap: 23px;
}

.title-wrapper {
    width: 60px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #5C5F65;
}

.title-content {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #101010;
}

.description-text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 22px;
}

.home-screen-btn {
    width: 250px;
    margin-top: 50px;
}

.result-face-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
}

.speech-title {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-top: 37px;
}

.speech-wrapper {
    width: calc(100% - 50px);
    height: 260px;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

.action-wrapper {
    width: 100%;
    display: flex;
    box-shadow: 0 -1.5px 14px rgba(0, 0, 0, 0.25);
}

.restart-title {
    font-weight: 400;
    font-size: 12px;
    color: #101010;
    text-align: center;
    margin-top: 8px;
}

.action-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border: 1px solid #D0D0D0;
    cursor: pointer;

}

.face-wrapper {
    display: flex;
    justify-content: space-between;
    height: 314px;
    width: 100%;
}

.image-container {
    padding: 0 2px 16px 0;

    width: 93px;
    height: 93px;

    & canvas {
        border: 1px solid #C0C0C0;
    }

    & img {
        width: 93px;
        height: 93px;
        top: 0;
        left: 0;
        cursor: pointer;
    }
}

.generated-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 93px;
    height: 93px;
    image-rendering: pixelated;
}
